.footer {
	display: table;
	padding-left: 100px;
	padding-right: 100px;
	width: 100%;
	height: 50px;
	color: white;
	background: #343a40;
	font-size: 12px;
	text-shadow: 1px 1px 5px black;
}

@media only screen and (max)

.copyright {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
